<form (ngSubmit)="onAddPoint()" [formGroup]="addPointForm">
  <mat-form-field appearance="outline">
    <mat-label>Dataset</mat-label>
    <mat-select formControlName="dataset">
      @for (ds of stat.datasets; track ds.label) {
        <mat-option [value]="ds.label">{{ ds.label }}</mat-option>
      }
    </mat-select>
    @if (addPointForm.get('dataset')?.errors?.['required']) {
      <mat-error>Dataset is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input [matDatepicker]="picker" formControlName="x" matInput/>
    <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if (addPointForm.get('x')?.errors?.['required']) {
      <mat-error>Date is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ stat!.yAxisName }}</mat-label>
    <input formControlName="y" matInput type="text" matTooltip="Enter a number (e.g., 100) or +number to increment the latest value (e.g., +10)"/>
    @if (addPointForm.get('y')?.errors?.['required']) {
      <mat-error>Value is required</mat-error>
    }
  </mat-form-field>

  <button mat-flat-button type="submit">
    <mat-icon>add</mat-icon>
    Add Point
  </button>
</form>
