@if (stat()) {
  <h2>Edit - {{ stat()!.title }}</h2>

  <div class="chart-container">
    <app-chart [stat]="stat()!"></app-chart>
  </div>

  <mat-tab-group>
    <mat-tab label="Add Data Point">
      <app-add-point-form (pointChanged)="reloadStat()" [stat]="stat()!"></app-add-point-form>
    </mat-tab>

    <mat-tab label="Increase Latest Value">
      <form (ngSubmit)="onIncrease()" [formGroup]="increaseForm">
        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input [matDatepicker]="increasePicker" formControlName="x" matInput/>
          <mat-datepicker-toggle [for]="increasePicker" matIconSuffix></mat-datepicker-toggle>
          <mat-datepicker #increasePicker></mat-datepicker>
          @if (increaseForm.get('x')?.errors?.['required']) {
            <mat-error>Date is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Amount to add</mat-label>
          <input formControlName="amount" matInput type="number"/>
          @if (increaseForm.get('amount')?.errors?.['required']) {
            <mat-error>Amount is required</mat-error>
          }
        </mat-form-field>

        <button mat-flat-button type="submit">
          <mat-icon>trending_up</mat-icon>
          Increase
        </button>
      </form>
    </mat-tab>

    <mat-tab label="Edit / Delete Point">
      <form (ngSubmit)="onEditPoint()" [formGroup]="editPointForm" class="edit-form">
        <mat-form-field appearance="outline">
          <mat-label>Select Data Point</mat-label>
          <mat-select (selectionChange)="onPointSelected($event)" formControlName="selectedPoint">
            @for (point of sortedDataPoints(); track point.x) {
              <mat-option [value]="point">
                {{ point.x | date:'dd.MM.yyyy' }} - {{ point.y }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Value</mat-label>
          <input formControlName="value" matInput type="number"/>
        </mat-form-field>

        <button mat-flat-button type="submit">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
} @else {
  <p>Loading...</p>
}
