@if (stat()) {
  <h2>Edit - {{ stat()!.title }}</h2>

  <div class="chart-container">
    <app-chart [stat]="stat()!"></app-chart>
  </div>

  <h3>Add Data Point</h3>
  <form (ngSubmit)="onAddPoint()" [formGroup]="addPointForm">
    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input [matDatepicker]="picker" formControlName="x" matInput/>
      <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (addPointForm.get('x')?.errors?.['required']) {
        <mat-error>Date is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ stat()!.yAxisName }}</mat-label>
      <input formControlName="y" matInput type="number"/>
      @if (addPointForm.get('y')?.errors?.['required']) {
        <mat-error>Value is required</mat-error>
      }
    </mat-form-field>

    <button mat-flat-button type="submit">
      <mat-icon>add</mat-icon>
      Add Point
    </button>
  </form>

  <h3>Increase Latest Value</h3>
  <form (ngSubmit)="onIncrease()" [formGroup]="increaseForm">
    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input [matDatepicker]="increasePicker" formControlName="x" matInput/>
      <mat-datepicker-toggle [for]="increasePicker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #increasePicker></mat-datepicker>
      @if (increaseForm.get('x')?.errors?.['required']) {
        <mat-error>Date is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Amount to add</mat-label>
      <input formControlName="amount" matInput type="number"/>
      @if (increaseForm.get('amount')?.errors?.['required']) {
        <mat-error>Amount is required</mat-error>
      }
    </mat-form-field>

    <button mat-flat-button type="submit">
      <mat-icon>trending_up</mat-icon>
      Increase
    </button>
  </form>
} @else {
  <p>Loading...</p>
}
